langchain
langchain-community
langchain-chroma
chromadb>=0.4.24
fastapi
uvicorn
python-multipart
python-dotenv
langchain-groq
langchain-huggingface
sentence-transformers
docx2txt
pandas
openpyxl
rank_bm25
gunicorn
pydantic>=2.0
